{{- define "frontmatter" -}}
# Awesome Slop

A convenient collection of studies on the limitations of LLMs and where the Slop Machine tends to break down

[![Awesome](https://awesome.re/badge-flat2.svg)](https://awesome.re) [![This project contains 0% LLM-generated content](https://brainmade.org/88x31-dark.png)](https://brainmade.org/) [![License: CC0-1.0](https://licensebuttons.net/l/zero/1.0/80x15.png)](http://creativecommons.org/publicdomain/zero/1.0/)
{{- end -}}