{{- define "reviews" -}}
## Literature Reviews
- LLM hallucinations {{ categoryReferences "reviews.hallucination" }} 
- LLM limitations {{ categoryReferences "reviews.limit" }} 
- LLM ethics {{ categoryReferences "reviews.ethic" }} 
- LLM information retrieval {{ categoryReferences "reviews.ir" }} 
- LLM risks {{ categoryReferences "reviews.risk" }} 
- LLM reasoning failures {{ categoryReferences "reviews.reason" }} 
- LLM evaluation {{ categoryReferences "reviews.eval" }} 
- LLM alignment {{ categoryReferences "reviews.align" }} 
{{- end -}}